<html xmlns:th="https://www.thymeleaf.org">
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" href="http://localhost:3000/">Portal de Diplomados</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<a class="nav-link" aria-current="page" href="http://localhost:3000/registrar">Registro Academico</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="http://localhost:3000/login">Login</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="http://localhost:3000/diplomados">Diplomados</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

	  <div class="container">
				
			<div>
				<div class="container">
					<h1>Postulacion</h1>
				</div>
				<br></br>
				<form method="POST" enctype="multipart/form-data" action="/files">

					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">Nombre</label>
						<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre y Apellido" name="nombre" >
					</div>

					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">Correo</label>
						<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="correo" >
					</div>

					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">Diplomado</label>
						<select class="form-select" aria-label="Default select example" name="diplomado">
							<option value="1">Diplomado en Ciencia de Datos Aplicada</option>
							<option value="2">Diplomado en Ciberseguridad</option>
							<option value="3">Diplomado en Riesgo Operacional y Continuidad del Negocio en Proceso y Tics</option>
							<option value="4">Diplomado en Control, Seguridad y Auditoria Computacional</option>
							<option value="5">Diplomado en Peritaje Informático</option>
						</select>
					</div>

					<div class="mb-3">
						<label for="formFile" class="form-label">Titulo Profesional:</label>
						<input class="form-control" type="file" id="formFile" name="file1">
					</div>

					<div class="mb-3">
						<label for="formFile" class="form-label">Certificado Nacimiento:</label>
						<input class="form-control" type="file" id="formFile" name="file2">
					</div>

					<div class="mb-3">
						<label for="formFile" class="form-label">Copia cedula de identidad:</label>
						<input class="form-control" type="file" id="formFile" name="file3">
					</div>

					<div class="mb-3">
						<label for="formFile" class="form-label">Curriculum Vitae:</label>
						<input class="form-control" type="file" id="formFile" name="file4">
					</div>

					<div class="mb-3">
						<label for="formFile" class="form-label">Ficha de inscripción:</label>
						<input class="form-control" type="file" id="formFile" name="file5">
					</div>

					<table>	
						<input class="btn btn-primary" type="submit" value="Enviar">
					</table>

				</form>
			</div>
	</div>	

	<div>

		<footer class="hidden-print">
					<div class="container">
						<div class="row inner-footer open-sans">
							<div class="col-md-10">
								<q>Universidad de Santiago de Chile. Avenida Ecuador #3659. Estación Central, Santiago de Chile.</q>
								<br></br>
								<q>+56 2 2718 0900</q>
							</div>
						</div>
					</div>
		</footer>

	</div>

</body>
</html>
